{% extends 'app/login1.html' %}
{% block body_block %}
  <h4>Ingreso</h4>
  <form method="post" action="{% url 'app:ingreso' %}">
  {% csrf_token %}
  <label for="usuario">Usuario:</label>
  <input type="text" name="usuario" placeholder="Nombre de Usuario">
  <label for="contraseña">Contraseña:</label>
  <input type="password" name="contraseña" placeholder="Contraseña">
  <input type="submit" name="" value="Login"></form>

  <hr>
  <a class="small" href="{% url 'registro' %}">Registrate</a>
{% endblock %}