{% extends 'app/auth_base.html' %}

{% block body_block %}
{% if estado_registro %}
  <h1>Registro exitoso</h1>
  <hr>
  <a class="small" href="{% url 'ingreso' %}">Inicia Sesion</a>
{% else %}
  <h4>Registro</h4>
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ formu_usuario.as_p }}
    {{ formu_perfil.as_p }}
    <button class="btn btn-secondary" type="submit" name="" value="Registrarse">
      Registrarse
    </button>
  </form>
  <hr>
  <a class="small" href="{% url 'ingreso' %}">Inicia Sesion</a>
{% endif %}
{% endblock %}