{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
        <div class="sidebar-brand-icon collapse" id="sidebarLogo">
            <img src="{% static '/img/ubicutus-icon.png' %}" width="50px" height="50px">
        </div>
        <div class="sidebar-brand-text mx-3">
            <img src="{% static 'img/ubicutus-logo.png' %}" width="165" height="40" alt="Ubicutus"> 
        </div>
    </a>
  
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if request.resolver_match.url_name == "index" %}active{% endif %}">
        <a class="nav-link" href="{% url 'index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
  
    <!-- Nav Item - Tareas -->
    <li class="nav-item {% if "tarea" in request.resolver_match.view_name %}active{% endif %}">
        <a class="nav-link" href="{% url 'tarea:listar_tareas' %}">
            <i class="fas fa-fw fa-clipboard-list"></i>
            <span>Tareas</span>
        </a>
    </li>
    
    <!-- Nav Item - Horas -->
    <li class="nav-item {% if  request.resolver_match.url_name == "horas" %}active{% endif %}">
        <a class="nav-link" href="{% url 'tarea:horas' %}">
            <i class="fas fa-clock"></i>
            <span>Horas</span>
        </a>
    </li>

    <!-- Nav Item - Incidencias -->
    <li class="nav-item {% if "incidencias" in request.resolver_match.view_name %}active{% endif %}">
        <a class="nav-link" href="{% url 'incidencias:lista' %}">
            <i class="fas fa-fw fa-exclamation-circle"></i>
            <span>Incidencias</span>
        </a>
    </li>

    <!-- Nav Item - Vacaciones -->
    <li class="nav-item {% if "vacaciones" in request.resolver_match.view_name %}active{% endif %}">
        <a class="nav-link" href="{% url 'vacaciones:mostrar' %}">
            <i class="fas fa-fw fa-plane-departure"></i>
            <span>Vacaciones</span>
        </a>
    </li>

    <!-- Nav Item - Prestamos -->
    <li class="nav-item {% if "prestamo" in request.resolver_match.view_name %}active{% endif %}"">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-money-bill"></i>
            <span>Prestamos</span>
        </a>
    </li>
  
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
  
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" data-toggle="collapse" data-target="#sidebarLogo" id="sidebarToggle"></button>
    </div>
  
</ul>
<!-- End of Sidebar -->