
{% extends 'app/base.html' %}
{% block content %}

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Nombre Tarea</th>
			<th scope="col">Tiempo</th>
			<th scope="col">Status</th>
			<th scope="col">Accion</th>	
		</tr>
		
	</thead>
	<tbody>
		{% if tareas %}
		{% for tarea in tareas %}
		<tr>
			<td>{{ tarea.nombre_tarea }}</td>
			<td>{{ tarea.tiempo_total_formato }}</td>
			{% if tarea.status == 'activa' %}
				<td><span class="badge badge-secondary">Por Terminar</span></td>
				<td>
					<a href="{% url 'tarea:iniciar' tarea.id %}" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Reanudar</a>
				</td>
				<td>
					<a href="{% url 'tarea:finalizar' tarea.id %}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">Finalizar</a>
				</td>
			{% else %}
			<!--<td style="color: darkblue;">Finalizada</a></td>-->
			<td class="project-state">
				<span class="badge badge-success">Finalizada</span>
			</td>
			<td></td>
			{% endif %}		
					
		</tr>
		{% endfor %}
		{% else %}
			<h1>No hay tareas disponibles</h1>
		{% endif %}		
       
	</tbody>
	
</table> 
<a href="{% url 'tarea:agregar_tarea' %}" class="btn btn-secondary" role="button" aria-pressed="true">Agregar Tarea</a>


{% endblock%}