
{% extends 'app/index1.html' %}
{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Nombre Tarea</td>
			<td>Tiempo</td>
			<td>Accion</td>
			
			
		</tr>
		
	</thead>
	<tbody>
		{% if tareas %}
		{% for tarea in tareas %}
		<tr>
			<td>{{ tarea.nombre_tarea }}</td>
			<td>{{ tarea.tiempo_total_formato }}</td>
			{% if tarea.status == 'activa' %}
				<td><a href="{% url 'tarea:iniciar' tarea.id %}">Reanudar</a></td>
				<td><a href="{% url 'tarea:finalizar' tarea.id %}">Finalizar</a></td>
			{% else %}
			<td style="color: darkblue;">Finalizada</a></td>
			{% endif %}		
					
		</tr>
		{% endfor %}
		{% else %}
			<h1>No hay tareas disponibles</h1>
		{% endif %}	
		<tr>
			<td>
		<form action="{% url 'tarea:agregar_tarea' %}">
			<button type="submit">Agregar tarea</button>
		</form> 
			</td>
		</tr>	
       
	</tbody>
	
	
	

</table> 

{% endblock%}