{% extends 'app/base.html' %}
{% block content %}

<div style="position:relative; left: 70%">

	<link rel="stylesheet" type="text/css" href="crono.css"/>
	<div id="wrapper">
	  <input type="checkbox" id="button1" checked>
	  <label for="button1" data-title="PAUSE">PLAY</label>
	  <input type="checkbox" id="button2">
	  <label for="button2" data-title="PLAY">STOP</label>
	  <span id="fakeStop">STOP</span>
	  <div class="digit dp100000 d6">
		<div class="particle top"></div>
		<div class="particle top right"></div>
		<div class="particle top left"></div>
		<div class="particle middle"></div>
		<div class="particle bottom right"></div>
		<div class="particle bottom left"></div>
		<div class="particle bottom"></div>
	  </div>
	  <div class="digit dp10000">
		<div class="particle top"></div>
		<div class="particle top right"></div>
		<div class="particle top left"></div>
		<div class="particle middle"></div>
		<div class="particle bottom right"></div>
		<div class="particle bottom left"></div>
		<div class="particle bottom"></div>
	  </div>
	  <div class="separator">
		<div class="dot top"></div>
		<div class="dot bottom"></div>
	  </div>
	  <div class="digit dp1000 d6">
		<div class="particle top"></div>
		<div class="particle top right"></div>
		<div class="particle top left"></div>
		<div class="particle middle"></div>
		<div class="particle bottom right"></div>
		<div class="particle bottom left"></div>
		<div class="particle bottom"></div>
	  </div>
	  <div class="digit dp100">
		<div class="particle top"></div>
		<div class="particle top right"></div>
		<div class="particle top left"></div>
		<div class="particle middle"></div>
		<div class="particle bottom right"></div>
		<div class="particle bottom left"></div>
		<div class="particle bottom"></div>
	  </div>
	  <div class="separator">
		<div class="dot top"></div>
		<div class="dot bottom"></div>
	  </div>
	  <div class="digit dp10">
		<div class="particle top"></div>
		<div class="particle top right"></div>
		<div class="particle top left"></div>
		<div class="particle middle"></div>
		<div class="particle bottom right"></div>
		<div class="particle bottom left"></div>
		<div class="particle bottom"></div>
	  </div>
	  <div class="digit dp1">
		<div class="particle top"></div>
		<div class="particle top right"></div>
		<div class="particle top left"></div>
		<div class="particle middle"></div>
		<div class="particle bottom right"></div>
		<div class="particle bottom left"></div>
		<div class="particle bottom"></div>
	  </div>
	</div>
</div>

<div class="row" style="position: relative; right: 20%">
	<h1 style="margin-left: 20px;">{{tarea.nombre_tarea}} en proceso</h1> 
</div>

<div class="row offset-8" style="padding: 70px;">
	<form class="form-group" action="{% url 'tarea:tiempo' tarea.id %}">
	  <button class="btn btn-secondary" type="submit">Finalizar tarea</button>
	</form> 
</div>
{% endblock%}	
