{% extends 'app/base.html' %}
{% block content %}

<div class="offset-3 col-10 list-div">
    {% if tarea.status == 'activa' %}
        <br><br>
            <h2 class="card-title h1 mb-0 text-gray-800">Tarea: {{tarea.nombre_tarea}}</h2>
            <h4><span class="badge badge-secondary">Por Terminar</span></h4>
                
            <div class="row d-flex justify-content-center">

                    <div class="col col-lg-4" style="margin-top: 3rem;">
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fas fa-clock"></i>
                                    </div>
                                    <div class="text">
                                        <h2>{{tarea.tiempo_total_formato}}</h2>
                                        <span>invertidos<span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="margin-top: 3rem;">
                        <div class="card text-white bg-gradient-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">Descripción</div>
                            <div class="card-body">
                            <p class="card-text">{{tarea.descripcion}}</p>
                        </div>
                    </div>
            </div>
		
    {% else %}
    <br><br>
    <h2 class="card-title h1 mb-0 text-gray-800">Tarea: {{tarea.nombre_tarea}}</h2>
    <h4><span class="badge badge-success">Finalizada</span></h4>
                
            <div class="row d-flex justify-content-center">
                <div class="col col-lg-4" style="margin-top: 3rem;">
                    <div class="overview-item overview-item--c2">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="fas fa-clock"></i>
                                </div>
                                <div class="text">
                                    <h2>{{tarea.tiempo_total_formato}}</h2>
                                    <span>invertidos<span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-top: 3rem;">
                    <div class="card text-white bg-gradient-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Descripción</div>
                        <div class="card-body">
                        <p class="card-text">{{tarea.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


	{% endif %}
</div>
{% endblock%}