{% extends 'app/base.html' %}
{% block content %}

<div class="offset-3 col-10 list-div">
    <div class="card bg-gradient-light w-50" style="margin-left: 30px;">
        <div class="card-header">
            <h3 class="card-title h4 mb-0 text-gray-800">  Eliminar Incidencia: {{incidencia.titulo}} </h3>
            <p> ¿Esta seguro que desea eliminar esta incidencia? </p>
        </div>
    
        <div class="card-body">
            <div class="row" style="padding: 10px;">
                <h5 class="col mb-0 text-gray-800"> Descripción: </h5>
                <p class="col">{{ incidencia.descripcion }}</p>
            </div>
            <div class="row" style="padding: 10px;">
                <h5 class="col mb-0 text-gray-800"> Tipo: </h5>
                <p class="col">{{ incidencia.tipo }}</p>
            </div>
            <div class="row" style="padding: 10px;">
                <h5 class="col mb-0 text-gray-800"> Estatus: </h5>
                <p class="col">{{ incidencia.estatus }}</p>
            </div>
            <div class="row" style="padding: 10px;">
                <h5 class="col mb-0 text-gray-800"> Fecha: </h5>
                <p class="col">{{ incidencia.fecha_reportada }}</p>
            </div>

            <div class="row">
                <div class="col">
                    <a href="{% url 'incidencias:lista' %}" class="btn btn-secondary">
                        <i class="fas fa-angle-left"></i>
                        Volver a la lista
                    </a>
                </div>
                <div class="col">
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div style="display:none; ">
                            {{form.as_p}}
                        </div>
                        <button class="btn btn-danger" type="submit">
                            <i class="fas fa-trash"></i>
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}