{% extends 'app/base.html' %}
{% block content %}
<h2 style="margin-left: 30px;"> Incidencias</h2>

<div class="container" style="margin-top: 1rem;">
    
    {% if incidencias_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Incidencia</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col"></th>
            </tr>
        </thead>
        
        <tbody>
            {% for incidencia in incidencias_list %}
            <tr>
                <td>{{ incidencia.titulo }}</td>
                <td>{{ incidencia.tipo }}</td>
                <td><span class="badge badge-secondary">{{ incidencia.estatus }}</span></td>
                <td>{{ incidencia.fecha_reportada }}</td>
                <td class="project-actions text-right">
                    <a class="btn btn-primary btn-sm" href="{% url 'incidencias:mostrar' incidencia.id  %}">
                        <i class="far fa-eye"></i>
                    </a>
                    <a class="btn btn-info btn-sm" href="{% url 'incidencias:editar' incidencia.id  %}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'incidencias:eliminar' incidencia.id %}" class="btn btn-danger btn-sm">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>			
            </tr>
            {% endfor %}
           
        </tbody>
    </table>
        
    {% else %}
    <div class="offset-3 col-12 list-div">
        <div class="card bg-gradient-light w-50" style="margin-left: 30px;">
            <div class="card-body">
                <h1>No hay incidencias disponibles</h1>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="offset-5 col-10 list-div" style="margin-top: 2rem;">
        <a href="{% url 'incidencias:reportar' %}" 
        class="btn btn-secondary" 
        style="margin-top: 30px;" role="button" aria-pressed="true">Reportar Incidencia</a>
    </div>

</div>
{% endblock %}