{% extends 'app/base.html' %}
{% block content %}

<div class="container" style="margin-top: 1rem;">
    
    {% if incidencias_list %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-800">¡Consulta las incidencias que has reportado!</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Incidencia</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col"></th>
            </tr>
        </thead>
        
        
        <tbody>
            {% for incidencia in incidencias_list %}
            <tr>
                <td>{{ incidencia.titulo }}</td>
                <td>{{ incidencia.tipo }}</td>


                {% if incidencia.estatus == "Resuelto" %}
                    <td class="project-state">
                        <span class="badge badge-success">{{ incidencia.estatus }}</span>
                    </td>
                {% elif incidencia.estatus == "Revisado" %}
                    <td class="project-state">
                        <span class="badge badge-warning">{{ incidencia.estatus }}</span>
                    </td>
                {% elif incidencia.estatus == "Descartada" %}
                    <td class="project-state">
                        <span class="badge badge-danger">{{ incidencia.estatus }}</span>
                    </td>
                {% elif incidencia.estatus == "Por Revisar" %}
                    <td class="project-state">
                        <span class="badge badge-secondary">{{ incidencia.estatus }}</span>
                    </td>
                {% endif %}


                <td>{{ incidencia.fecha_reportada }}</td>
                <td class="project-actions text-right">
                    <a class="btn btn-primary btn-sm" href="{% url 'incidencias:mostrar' incidencia.id  %}">
                        <i class="far fa-eye"></i>
                    </a>
                    <a class="btn btn-info btn-sm" href="{% url 'incidencias:editar' incidencia.id  %}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'incidencias:eliminar' incidencia.id %}" class="btn btn-danger btn-sm">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>			
            </tr>
            {% endfor %}
           
        </tbody>
    </table>
        
    {% else %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-800">¡Te encuentras en la sección de reporte de incidencias!</h1>
    </div>
    <div class="row">
        <div class="offset-3 col-12 list-div" style="margin-top: 4rem;">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h2 class="h3 mb-0 text-gray-800">Aún no has reportado incidencias</h2>
            </div>
        </div>
    </div>
    
    {% endif %}
    
    <div class="offset-5" style="margin-top: 1rem;">
        <a href="{% url 'incidencias:reportar' %}" 
        class="btn btn-outline-danger" 
        style="margin-top: 30px;" role="button" aria-pressed="true">Reportar Incidencia</a>
    </div>

</div>
{% endblock %}