{% extends 'app/base.html' %}
{% block content %}
<div class="offset-3 col-10 list-div">
    <div class="card bg-gradient-light w-50" style="margin-left: 30px;">
        <div class="card-header">
            <h3 class="card-title"> Incidencia {{incidencia.titulo}} </h3>
        </div>
    
        <div class="card-body">
            <div class="row" style="padding: 10px;">
                <h5 class="col"> Descripcion: </h5>
                <p class="col">{{ incidencia.descripcion }}</p>
            </div>
            <div class="row" style="padding: 10px;">
                <h5 class="col"> Tipo: </h5>
                <p class="col">{{ incidencia.tipo }}</p>
            </div>
            <div class="row" style="padding: 10px;">
                <h5 class="col"> Estatus: </h5>
                <p class="col">{{ incidencia.estatus }}</p>
            </div>
            <div class="row" style="padding: 10px;">
                <h5 class="col"> Fecha: </h5>
                <p class="col">{{ incidencia.fecha_reportada }}</p>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'incidencias:lista' %}" class="btn btn-secondary">Lista</a>
                </div>
                <div class="col">
                    <a href="{% url 'incidencias:editar' incidencia.id %}" class="btn btn-secondary">Editar</a>
                </div>
                <div class="col">
                    <a href="{% url 'incidencias:eliminar' incidencia.id %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>

</div>
{% endblock%}	