.no-hover-effect.mat-button.mat-primary .mat-button-focus-overlay,
.no-hover-effect.mat-button.mat-accent .mat-button-focus-overlay,
.no-hover-effect.mat-button.mat-warn .mat-button-focus-overlay,
.no-hover-effect.mat-button .mat-button-focus-overlay
{
  background-color: transparent;
}

.no-width-effect.mat-button
{
  min-width: 0px;
  line-height: 32px; /*para matsuffix en input espacio entre lineas*/
}

.table-container {
  overflow: auto;
}

table { 
  border-collapse: collapse;
  min-width: 100%;
}

.mat-row {
  height: auto;
}

.mat-header-cell {
  padding: 5px !important;
}

.mat-cell {
  padding: 5px !important;
}

tr:nth-child(even) td { 
  background: #F1F1F1; 
}  

tr:nth-child(odd) td { 
  background: #FEFEFE; 
}

.small-text {
  font-size: 10px !important;
}

.hint-error {
  font-size: 10px !important;
  color: #d61f1f;
}

.no-hint.mat-form-field {
  /* Added for General Table */
  max-width: 100px !important;
}

.no-hint.mat-form-field > .mat-form-field-wrapper {
  /* Added for General Table */
  padding-bottom: 0 !important; 
  margin-bottom: 0 !important;
}